body {
}

.jumbotron {
  padding-top: 3rem;
  background-color: #7e6363;
}

#About {
  padding-top: 5rem;
}

#PROJECTS {
  padding-top: 5rem;
}

#CONTACT {
  padding-top: 5rem;
}

#Footer {
  padding-bottom: ;
}
